{% load wagtailcore_tags wagtailsettings_tags i18n %}
{% get_settings %}

<div class="menu-overlay" data-navigation-target="overlay">
  <div class="menu-overlay__outside js-menu-outside" data-action="click->navigation#close"></div>
  <div class="menu-overlay__wrapper">

    <div class="menu-overlay__button-container">
      <button class="menu-overlay__close-button" aria-label="{% trans 'Close navigation' %}" data-action="navigation#close">
        <span class="menu-overlay__close-icon"></span>
      </button>
    </div>

    {% if main_nav %}
      <div class="menu-overlay__links">
        {% for page in main_nav %}
          <a class="menu-overlay__link" href="{% pageurl page %}">{{ page }}</a>
        {% endfor %}
      </div>
    {% endif %}

    {% with settings.cms.MainNavSettings as nav %}
      <div class="menu-overlay__footer-items">
        <span class="menu-overlay__footer-text">{{ nav.text }}</span>

        {% if nav.buttons %}
          {% for obj in nav.buttons %}
            <a href="{% pageurl obj.value.page %}">
              <button class="menu-overlay__i button">
                <span class="button__text">{{ obj.value.title }}</span>
                <span class="button__icon"></span>
              </button>
            </a>
          {% endfor %}
        {% endif %}
      </div>
    {% endwith %}

  </div>
</div>
