{% extends "wagtail_helpdesk/base.html" %}
{% load i18n static wagtailcore_tags %}

{% block smokedglass %}
{% endblock %}

{% block content_area %}
  <div {% block smokedglass-class %}{% endblock %}>

{% block head %}
  <div class="simple-header">
    <div class="simple-header__wrapper">
      <a class="simple-header__back-link" href="/">
        <span class="simple-header__back-link-icon"></span>
      </a>

      <div class="simple-header__title-container">
        <h1 class="simple-header__title">{{ page.title }}</h1>
      </div>

      <div class="simple-header__introduction-container">
        <div class="simple-header__introduction">
          {{ page.intro|richtext }}
        </div>
      </div>

    </div>
  </div>
{% endblock %}

{% block content %}
  <div class="expert-list">
    <div class="expert-list__wrapper">
      <div class="expert-list__experts">
        {% for expert in experts %}
          {% include "wagtail_helpdesk/experts/includes/expert_block.html" with expert=expert %}
        {% endfor %}
      </div>
    </div>
  </div>

  <div class="link-block">
   <div class="link-block__wrapper">
     <div class="link-block__title-container">
      <h2 class="link-block__title">
          {{ page.outro_title }}
      </h2>
     </div>
     <div class="link-block__text-container">
       {% if page.outro_text %}
         <div class="link-block__text richtext">
           {{ page.outro_text|richtext }}
         </div>
       {% endif %}
       {% if page.outro_page %}
         <a href="{% pageurl page.outro_page %}" class="button">
            <span class="button__text">{{ page.outro_button_text }}</span>
            <span class="button__icon"></span>
         </a>
       {% endif %}
      </div>
    </div>
  </div>

  {% endblock %}
  {% include "wagtail_helpdesk/includes/social_share_buttons.html" %}
  </div>
{% endblock content_area %}
