{% load static wagtailcore_tags wagtailimages_tags wagtailroutablepage_tags %}

{% with settings.cms.FooterSettings as footer_settings %}
  <div class="footer">
    <div class="footer__wrapper">
      <div class="footer__top">
        <h2 class="footer__top-title">{{ footer_settings.about_title }}</h2>
        <div class="footer__top-text">{{ footer_settings.about_text|richtext }}</div>
        <div class="footer__top__buttons">
          {% include "wagtail_helpdesk/core/includes/button_list.html" with stream=footer_settings.about_buttons secondary=1 %}
        </div>
      </div>

      <div class="footer__bottom">
        <h3 class="footer__bottom-title">{{ footer_settings.expert_title }}</h3>
        <div class="footer__bottom-text">{{ footer_settings.expert_text|richtext }}</div>
      </div>

      <div class="footer__experts">
        {% for expert in featured_experts %}
          <div class="footer__expert">
            <div class="footer__expert-image">
              {% image expert.picture fill-200x200 as image %}
              <img class="footer__expert-picture" src="{{ image.url }}" alt="{{ image.alt }}">
            </div>
            <div class="footer__expert-content">
              <h4 class="footer__expert-title">
                  {% if expert_answers_overview_page %}
                  <a class="footer__expert-link" href="{% routablepageurl expert_answers_overview_page "expert_answers" expert.pk %}">
                      {{ expert.name }}
                  </a>
                  {% else %}
                    {{ expert.name }}
                  {% endif %}
              </h4>
              <p class="footer__expert-text">{{ expert.affiliation }}</p>
              {% for category in expert.get_answer_categories %}
                <a href="{{ answers_list_url }}{{ category.get_prefiltered_search_params }}"><span class="tag">{{ category }}</span></a>
              {% endfor %}
            </div>
          </div>
        {% endfor %}
      </div>

      <div class="footer__button">
        {% include "wagtail_helpdesk/core/includes/button_list.html" with stream=footer_settings.expert_buttons secondary=1 %}
      </div>
    </div>
  </div>
{% endwith %}
