{% load static i18n helpdesk_tags wagtailcore_tags wagtailsettings_tags %}
{% get_settings %}
{% wagtail_site as current_site %}

<!DOCTYPE html>
<html lang="nl">
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>{% block title %}{{ current_site.site_name }}{% endblock title %}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  {% block css %}
    <link rel="stylesheet" href="{% versioned_static 'wagtail_helpdesk/main.css' %}">
  {% endblock %}


  {% block extra_head %}
  {% endblock extra_head %}

  {% block schema %}
  {% endblock schema %}
</head>

<body class="wagtail_helpdesk" data-controller="navigation">
{% block navbar %}
  {% include "wagtail_helpdesk/includes/navbar.html" %}
{% endblock %}

<main class="wagtail_helpdesk-content">

  {% block smokedglass %}
    <div class="sun">
    </div>
  {% endblock %}

  <section class="section">
    {% block content_area %}
      {% block head %}{% endblock head %}
      <div {% block smokedglass-class %}class="smokedglass"{% endblock %}>
        {% block content %}{% endblock content %}
      </div>
    {% endblock content_area %}
  </section>
</main>

<footer class="footer-bar">
  <div class="footer-bar__wrapper">
    <div class="footer-bar__logo-container">
      <a class="footer-bar__logo-link" href="/">
        {% include "wagtail_helpdesk/includes/logo.html" %}
      </a>
    </div>

    {% with settings.cms.FooterSettings as footer_settings %}
      <div class="footer-bar__links">
        <span class="footer-bar__title">
          {{ footer_settings.initiator_text|richtext }}
        </span>
      </div>

      {% if footer_settings.nav %}
        <div class="footer-bar__links">
          {% for item in footer_settings.nav %}
            <a class="footer-bar__link" href="{% pageurl item.value.page %}">{{ item.value.title }}</a>
          {% endfor %}
        </div>
      {% endif %}

      <div class="footer-bar__links">
        <span class="footer-bar__coc">{{ footer_settings.maintainer_text }}</span>
      </div>
    {% endwith %}

  </div>
</footer>

{% block footer_js %}
{% endblock %}

{% block overlays %}
  {% include "wagtail_helpdesk/includes/menu_overlay.html" %}
{% endblock %}

{% block js %}
  <script src="{% versioned_static 'wagtail_helpdesk/main.js' %}"></script>
{% endblock %}
{% include "wagtail_helpdesk/includes/icons.html" %}
</body>
</html>
