.pagination {
  @include typography(button);
  --color-base-200: oklch(98% 0 0);
  --btn-bg:  color-mix(in oklab, var(--btn-color, var(--color-base-200)), #000 7%);
  max-width: calc(
    var(--grid-max-width) + var(--grid-gutter) * 2 + var(--grid-margin) * 2
  );
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-gap: var(--grid-spacing) var(--grid-gutter);
  padding-left: var(--grid-margin);
  padding-right: var(--grid-margin);
  padding-bottom: 60px;
  position: relative;
  grid-template-columns: repeat(var(--grid-columns), [column] minmax(0, 1fr));

  &__page-item {
    margin: 0;
    padding: 0;
    list-style: none;
    display: inline;
   

  }
  &__page-link {
    display: inline;
    appearance: button; 
    -webkit-appearance: button; /* Safari and Chrome */
    -moz-appearance: button; /* Firefox */
    -ms-appearance: button; /* Internet Explorer */
    -o-appearance: button; /* Opera */
    cursor: default;
    background-color:oklab(0.99 0 0);
    border-width:1px;
    border-style:solid;
    border-top-color: color-mix(color-mix(oklch(0.98 0 0) 93%, rgb(0, 0, 0)), rgb(0, 0, 0) calc(5%));
    border-right-color: color-mix(color-mix(oklch(0.98 0 0) 93%, rgb(0, 0, 0)), rgb(0, 0, 0) calc(5%));
    border-bottom-color: color-mix(color-mix(oklch(0.98 0 0) 93%, rgb(0, 0, 0)), rgb(0, 0, 0) calc(5%));
    border-left-color: color-mix(color-mix(oklch(0.98 0 0) 93%, rgb(0, 0, 0)), rgb(0, 0, 0) calc(5%));
    box-shadow: 0 .5px 0 .5px oklch(100% 0 0 / calc(var(--depth) * 6%)) inset, var(--btn-shadow);
    justify-content: center;
    width:20px;
    height:auto;
    text-align: center;
    vertical-align: middle;
    outline-offset: 2px;
    flex-wrap: nowrap;
    text-decoration: none;
    flex-shrink: 0;
    font-weight: 100;
  }
  &__page-link-active
  { 
    background-color:oklab(0.92 0 0);
  }
    
  &__row {
    display: inline;
    grid-column: column 1 / span 10;
  }
}
