<div class="social-share-buttons" data-controller="social_share_buttons">
  <h3 class="social-share-buttons__title">Deel deze pagina</h3>
  <ul class="social-share-buttons__button-list">
    <li class="social-share-buttons__list-item">
      <a target="_blank" rel="noopener" title="Facebook" data-social-platform="facebook" class="social-share-buttons__button js-social-share-button">
        <svg class="icon"><use xlink:href="#facebook" /></svg>
      </a>
    </li>
    <li class="social-share-buttons__list-item">
      <a target="_blank" rel="noopener" title="Twitter" data-social-platform="twitter" class="social-share-buttons__button js-social-share-button">
        <svg class="icon"><use xlink:href="#twitter" /></svg>
      </a>
    </li>
    <li class="social-share-buttons__list-item">
      <a target="_blank" rel="noopener" title="LinkedIn" data-social-platform="linkedin" class="social-share-buttons__button js-social-share-button">
        <svg class="icon"><use xlink:href="#linkedin" /></svg>
      </a>
    </li>
    <li class="social-share-buttons__list-item">
      <a target="_blank" rel="noopener" title="Whatsapp" data-social-platform="whatsapp" class="social-share-buttons__button js-social-share-button">
        <svg class="icon"><use xlink:href="#whatsapp" /></svg>
      </a>
    </li>
  </ul>
</div>
