{% load static i18n helpdesk_tags wagtailcore_tags wagtailsettings_tags %}
{% get_settings %}


<!DOCTYPE html>
<html lang="nl">
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>{% block title %}KlimaatHelpdesk{% endblock title %}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="{% static 'wagtail_helpdesk/images/favicons/favicon.ico' %}">

  {% block css %}
    <link rel="stylesheet" href="{% versioned_static 'wagtail_helpdesk/main.css' %}">
  {% endblock %}


  {% block extra_head %}
  {% endblock extra_head %}

  {% block schema %}
  {% endblock schema %}
</head>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-EZ555D7QSW"></script>
<script>
  window.dataLayer = window.dataLayer || [];

  function gtag() {
    dataLayer.push(arguments);
  }

  gtag('js', new Date());
  gtag('config', 'G-EZ555D7QSW', {'anonymize_ip': true, 'allow_ad_personalization_signals': false});
</script>

<body class="wagtail_helpdesk" data-controller="navigation">
{% block navbar %}
  {% include 'includes/navbar.html' %}
{% endblock %}

<main class="wagtail_helpdesk-content">

  {% block smokedglass %}
    <div class="sun">
    </div>
  {% endblock %}

  <section class="section">
    {% block content_area %}
      {% block head %}{% endblock head %}
      <div {% block smokedglass-class %}class="smokedglass"{% endblock %}>
        {% block content %}{% endblock content %}
      </div>
    {% endblock content_area %}
  </section>
</main>

<footer class="footer-bar">
  <div class="footer-bar__wrapper">
    <div class="footer-bar__logo-container">
      <a class="footer-bar__logo-link" href="/">
        {% include 'svg/logo/logo-white.svg' %}
      </a>
    </div>

    {% with settings.cms.FooterSettings as footer_settings %}
      <div class="footer-bar__links">
        <span class="footer-bar__title">
          {{ footer_settings.initiator_text|richtext }}
        </span>
      </div>

      {% if footer_settings.nav %}
        <div class="footer-bar__links">
          {% for item in footer_settings.nav %}
            <a class="footer-bar__link" href="{% pageurl item.value.page %}">{{ item.value.title }}</a>
          {% endfor %}
        </div>
      {% endif %}

      <div class="footer-bar__links">
        <span class="footer-bar__coc">{{ footer_settings.maintainer_text }}</span>
      </div>
    {% endwith %}

  </div>
</footer>

{% block footer_js %}
{% endblock %}

{% block overlays %}
  {% include 'includes/menu_overlay.html' %}
{% endblock %}

{% block js %}
  <script src="{% versioned_static 'wagtail_helpdesk/main.js' %}"></script>
{% endblock %}
{% include "includes/icons.html" %}
</body>
</html>
